@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@source inline("{dark:}bg-{green,orange,blue,purple}");

@theme {
  --color-green: #9d5;
  --color-blue: #09c;
  --color-orange: #e94;
  --color-purple: #a274d3;

  --color-darkBlue: #36b;
  --color-lightBlue: #0bc;
  --color-lighterBlue: #2cb;

  --color-teal: #4d8;
  --color-red: #f73148;
  --color-yellow: #ed0;
  --color-salmon: #c66;

  --color-purple: #a27;
  --color-purple-500: #c81f88;

  --color-background-primary: var(--color-slate-100);
  --color-background-secondary: var(--color-slate-200);
  --color-background-tertiary: var(--color-slate-300);
  --color-border-primary: var(--color-slate-600);
  --color-text-primary: var(--color-slate-700);
  --color-text-secondary: var(--color-slate-600);
  --color-text-tertiary: var(--color-slate-500);
}

@layer base {
  body {
    background: var(--color-background-primary);
    color: var(--color-text-primary);

    &.dark {
      --color-background-primary: var(--color-slate-900);
      --color-background-secondary: var(--color-slate-800);
      --color-background-tertiary: var(--color-slate-700);
      --color-border-primary: var(--color-slate-600);
      --color-text-primary: var(--color-slate-300);
      --color-text-secondary: var(--color-slate-100);
      --color-text-tertiary: var(--color-slate-400);
    }

  }
  .blogPost{
    p {
      & + p {
        @apply mt-4;
      }
    }
    h3 {
      @apply text-xl font-bold text-blue;
    }
    h1, h2, h3, h4, h5, h6 {
      @apply mt-6 mb-4;
    }
  }
}